<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ArtifactServiceProviderUrl" value="http://localhost:1426/SamlArtifactResolve.aspx" />
    <add key="LogoutServiceProviderUrl" value="http://localhost:1426/SingleLogoutService.aspx" />
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Forms">
			<forms loginUrl="UserLogin.aspx">
				<credentials passwordFormat="Clear">
					<user name="iuser" password="password"/>
				</credentials>
			</forms>
		</authentication>
		<customErrors mode="RemoteOnly"/>
	</system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
